body.ter,
body.plan,
body.char {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /*height: 100%;*/
  min-width: 640px;
}

body.ter {background-image: url(../images/color-terrarium.svg);}

body.plan {background-image: url(../images/color-plants.svg);}

body.char {background-image: url(../images/color-characters.svg);}

.generalTer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 40vw;
  height: 62vh;
  margin: calc(100vh - 62vh - 148px) auto;
}

.terrarium {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 177.36px;
}

.title {
  display: inline-flex;
  width: 100%;
}

.title div:first-child {
  font-size: 43px;
  margin-right: 16px;
}

.icons {
  position: relative;
  display: inline-flex;
  width: 67%;
  left: calc(100% - 67%);
}

.icons a div,
.icons div {
  display: block;
  text-align: center;
  font-family: 'FontAwesome';
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  padding-left: 16px;
}

.icons a:first-child  div {
  padding-left: 0px;
}

.icons a:first-child div::before {
  content: '\f053';

}

.icons a:nth-child(2) div::before {
  content: '\f054';
}

.icons div:last-child {
  content: '\f054';
}

figure.non,
figure.non1 {
  position: absolute;
  width: 18px;
  height: 20px;
  top: -2px;
  background-image: url(../images/color-terrarium.svg);
}

figure.non1{
  right:94px;
  background-image: url(../images/color-characters.svg);
}

.gallery {
  position: relative;
  align-items: center;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.rail {
  display: flex;
}

.collection {
  display: flex;
}

.ph1,
.ph2,
.ph3,
.ph4,
.ph5,
.ph6,
.ph7,
.ph8,
.ph9,
.ph10 {
  display: inline-flex;
  width: 400px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: top center;
}

.ph1 {background-image: url(../images/color.nanozoo-24.svg);}
.ph2 {background-image: url(../images/color.nanozoo-22.svg);}
.ph3 {background-image: url(../images/color.nanozoo-23.svg);}
.ph4 {background-image: url(../images/color.nanozoo-21.svg);}
.ph5 {background-image: url(../images/color.nanozoo-19.svg);}
.ph6 {background-image: url(../images/color.nanozoo-20.svg);}
.ph7 {background-image: url(../images/color.nanozoo-15.svg);}
.ph8 {background-image: url(../images/color.nanozoo-16.svg);}
.ph9 {background-image: url(../images/color.nanozoo-17.svg);}
.ph10 {background-image: url(../images/color.nanozoo-18.svg);}

.change {
  display: flex;
  width: 145px;
  margin-left: calc(100% - 145px);
  flex-direction: column;
  justify-content: space-between;
}

.choose {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 145px;
  margin-top: 5px;
  padding-top: 8px;
}

.checkPoint,
.cost {
  display: inline-flex;
  justify-content: space-between
}

.checkPoint {
  margin-top: -3px;
  width: 20px;
  height: 20px;
}

.cost div:first-child {
  padding-right: 3px;
}

.checkPoint div,
.cost div {
  display: inline-flex;
  justify-content: space-between;
  color: white;
}


/* Checkbox */

.control {
  display: block;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 5px;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #443B96;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
