* {
	box-sizing: border-box;
	transition: all .3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
    /*height: 100vh;*/
		width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*min-width: 768px;*/
    font-family: 'Comfortaa', cursive;
    /*background-image: url(../images/back.jpg);
    background-image: url(../images/color.nanozoo-02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;*/
}
section.general {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	/*width: 100%;*/
	width: 100%;
	/*height: 100vh;*/
	margin: 0 auto;
}
section.main {
  /*position: relative;
  display: flex;
  width: 100%;*/

  /*position: absolute;
	width: 1440px;
	height: 900px;
	margin: 0 auto;
  background-image: url(../images/color.nanozoo-02.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;*/

	position: relative;
	width: 1440px;
	height: 900px;
	overflow: hidden;
	/*margin: 0 auto;*/

}

.background,
.plant1,
.plant2,
.plant3,
.plant4,
.food {
  position: absolute;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;*/
}

.background {
	width: 1440px;
	height: 900px;
	background-image: url(../images/color.nanozoo-02.svg);
	background-image: url(../images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;*/
}
.plant1 {
	top: 412px;
	left: -7px;
	width: 251px;
	height: 396px;
  background-image: url(../images/color.nanozoo-03.svg);
}

.plant2 {
	top: 300px;
  left: 123px;
  width: 208px;
  height: 332px;
  background-image: url(../images/color.nanozoo-04.svg);
}

.plant3 {
	top: 318px;
  left: 274px;
  width: 231px;
  height: 276px;
  background-image: url(../images/color.nanozoo-05.svg);
}

.plant4 {
	top: 367px;
	right: 98px;
	width: 128px;
	height: 253px;
  background-image: url(../images/color.nanozoo-06.svg);
}

/*.food {
  top: 431px;
  right: 245px;
  width: 487px;
  height: 142px;
  background-image: url(../images/color.nanozoo-07.svg);
}*/
