body.index {
  height: 100vh;
  /*min-width: 768px;*/
	background-image: url(../images/color-index.svg);
}

section.general {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
section.main {
	position: relative;
	width: 1440px;
	height: 900px;
	overflow: hidden;
	border-radius: 0;
}

.background,
.plant1,
.plant2,
.plant3,
.plant4,
.food {
  position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.background {
	width: 1440px;
	height: 900px;
	background-image: url(../images/color.nanozoo-02.svg);
	/*background-image: url(../images/back.jpg);*/
}

.plant1 {
	top: 412px;
	left: -9px;
	width: 250px;
	height: 395px;
  background-image: url(../images/color.nanozoo-03.svg);
}

.plant2 {
	top: 300px;
  left: 122px;
  width: 210px;
  height: 333px;
  background-image: url(../images/color.nanozoo-04.svg);
}

.plant3 {
	top: 318px;
  left: 275px;
  width: 230px;
  height: 270px;
  background-image: url(../images/color.nanozoo-05.svg);
}

.plant4 {
	top: 367px;
  right: 100px;
  width: 120px;
  height: 251px;
  background-image: url(../images/color.nanozoo-06.svg);
}

.food {
	top: 604px;
	right: 352px;
	width: 667px;
	height: 200px;
  background-image: url(../images/color.nanozoo-07.svg);
}



/*  Разъяснительные элементы  */

.container.food, .container.plant, .button, .nav{
  position: absolute;
}

.container.food,
.container.plant {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 100px;
}


#toggle1,
#toggle2 {
  display: none;
}

.button {
  z-index: 999;
	width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.button.p {
	top: 20px;
	right: 4px;
}

.button.f {
	top: 36px;
	right: 15px;
}

.button::before,
.button::after {
	position: absolute;
  top: 8px;
  left: 4px;
  content: '';
  width: 10px;
  height: 2px;
}

.button::before {
  background: #FFF;
  transform: rotate(90deg);
}

.button::after {
  background: #FFF;
}

.nav {
  transform: translateY(-10%);
	opacity: 0;
	top: 32px;
  right: -111px;
  transition: all 0.5s ease-in-out;
  background: #FFF;
  width: 125px;
  border-radius: 5px;
  transform: translateY(0%);
	box-shadow: 0px 2px 1px 0 rgba(0,0,0,.15);
}

.nav a {
	text-align: left;
	display: block;
	padding: 15px;
	color: #4FC0AC;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.2;
}

.nav.p {
	top: 13px;
  right: -119px;
}


#toggle1:checked ~ .nav,
#toggle2:checked ~ .nav {
  opacity: 1;
  transform: translateY(10%);
}

#toggle1:checked ~ .button,
#toggle2:checked ~ .button {
	transform: rotate(135deg);
	box-shadow: 0 0 0 0 transparent;
}



/* Checklisk */
/*.cbx {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #C8CCD4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background .1s ease;
  cursor: pointer;
}

.cbx::after {
  content='';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transition: all .3s ease;
  transition-delay: .15s;
}

.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#cbx:checked ~ .cbx {
  border-color: transparent;
  background: #6871F1;
  animation: jelly .6s ease;
  -webkit-animation: jelly .6s ease;
}

#cbx:checked ~ .cbx::after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@keyframes jelly {
  0% {transform scale(1, 1);}
  30% {transform scale(1.25, 0.75);}
  40% {transform scale(0.75, 1.25);}
  50% {transform scale(1.15, 0.85);}
  65% {transform scale(.95, 1.05);}
  75% {transform scale(1.05, .95);}
  100% {transform scale(1, 1);}
}

.cntr {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}*/
