header,
footer {
  display: flex;
  position: fixed;
  width: 94vw;
  padding: 20px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

header {
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 3vw;
  padding-bottom: 13px;
  border-bottom: 2px solid white;
}

footer {
  height: 42px;
  margin: 0px 3vw;
  border-top: 2px solid white;
  bottom: 0;
}

.about div {
  font-size: 14px;
  color: white;
}

.logo div{
  display: block;
  width: 102px;
  height: 46px;
  background-image: url(../images/color.nanozoo-25.svg);
  background-size: cover;
}

.buy {
  position: relative;
  color: white;
  width: 6vw;
}

.buy:before {
  display: block;
  text-align: right;
  font-family: 'FontAwesome';
  font-size: 21px;
  /*Юникод*/
  content: '\f001';
}

footer a {
  font-size: 14px;
  color: white;
}
